<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    
    <h3 class="center">HI THERE !</h3>
    <h1 class="center">I'M <span>Divyanshu Butauliya</span></h1>
    <p>I am belong to Jalaun(UP). I am pursuing B.Tech From BANSAL INSTITUTE OF SCIENCE AND TECHNOLOGY BHOPAL(MP)
        from COMPUTER SCIENCE ENGINEERING WITH SPECIALIZATION IN ARTIFICIAL INTELLIGENCE BRANCH. I had Completed my schooling From M.P.S.A Jalaun,(UP).
    </p>
    <p> I am good in Programming Languages--- C ,C#, C++ , JAVA , PYTHON, DotNet , PYTHON FRAMEWORK :- DJANGO , MYSQL , PANADAS
        and very much intersted in HTML , CSS , JAVA-SCRIPT. Ihad completed many project in HTML and PYTHON Languages
        like--- E-SHOPPING WEB , MANAGEMENT-WEB (PYTHON) , YOU-TUBE AND FACEBOOK (HTML AND CSS) and create many app like---
        tic-tac-toe (PYTHON), LUDO(JAVA) , FIGHTING-GAME(JAVA). In That Time I'm Working in a real time project.
    </p>
    <a  href="https://divyanshu123-coder.github.io/Portfolio/"><button class="btn about-me">about me <i class="fas fa-user"></i></button></a>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/share/1BBS9gCiZt/">Facebook</a>
        <a href="https://youtube.com/@eeshubutauliya1724?si=wtlY4mC6FYImeRm">Youtube</a>
        <a href="https://youtube.com/@eeshubutauliya1724?si=wtlY4mC6FYImeRm">Instagram</a>
        <a href="https://x.com/DButauliya">Twitter</a>
    </div>

</section>

